@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;800&display=swap');

$originalWidth: 1920px;

$primaryColor: #ffffff;
$secondaryColor: #000000;
$accentColor: #b4ff00;
$buttonColor: #4b00ff;
$buttonColorHovered: #3e00d4;
$buttonShadow: #00000066;
$buttonIdle: #9f9f9f;
$textMain: #fff;
$textSecondary: #858585;
$textIdle: #cfcfcf;
$formColor: #f8f8f8;
$formInvalid: #ff1a00;
$fontWeight: (
  'regular': 400,
  'medium': 500,
  'bold': 700,
  'extraBold': 800,
);

/*
 * Transitions
*/

@mixin transition-ease {
  transition: all 0.5s ease-in-out;
}

/*
 * Media Queries 
*/

@mixin media-sm {
  @media screen and (min-width: 640px) {
    @content;
  }
}

@mixin media-md {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin media-lg {
  @media screen and (min-width: 1075px) {
    @content;
  }
}

@mixin media-xl {
  @media screen and (min-width: 1280px) {
    @content;
  }
}

@mixin media-2xl {
  @media screen and (min-width: 1536px) {
    @content;
  }
}
