.contact {
  width: 100%;
  display: flex;
  position: relative;

  /*
  * --------- Map & Map Pointer ---------
  */

  &-map {
    height: 1032px;
    width: 857px;
    object-fit: cover;
    object-position: right;
  }

  &-badge {
    position: absolute;
    left: 412px;
    top: 512px;
    width: 32px;
    height: 32px;
    background-color: $accentColor;
    z-index: 9999;
    border-radius: 300px;
    transform: scale(1);
    overflow: hidden;
    @include transition-ease;
    transition-delay: 100ms;

    .information-container {
      opacity: 0;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      transition: all 300ms ease-in-out;
      transform: scale(1);

      &-item {
        color: $secondaryColor;
        font-size: 22px;
      }
    }
    .information-container span {
      margin-bottom: 16px;
    }

    // Social Icons

    .social {
      display: flex;
      gap: 30px;
      margin-top: 32px;
      &-icon {
        color: $secondaryColor;
        height: 32px;
        width: 32px;
        cursor: pointer;
        transform: translateY(100vh);

        @include transition-ease;
      }
    }
  }

  &-badge:hover {
    .information-container {
      margin-top: 112px;
      opacity: 1;

      &-item {
        transition: all 300ms ease-in-out;
        transition-delay: 0;
      }

      .social {
        &-icon {
          transform: translateY(0);
          transition-delay: 300ms;
        }

        &-icon:hover {
          color: $buttonColor;
        }
      }
    }
  }

  &-badge:hover {
    width: 356px;
    height: 356px;
    transform: translate(-50%, -50%);
  }

  /*
  * --------- Form Container ---------
  */

  &-formwrapper {
    background: $formColor;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-left: 240px;
    padding-right: 240px;
    flex-direction: column;
    color: $secondaryColor;

    h2 {
      font-weight: 800;
      font-size: 32px;
      margin-bottom: 32px;
    }

    p {
      font-size: 18px;
      font-weight: 400;
      margin-bottom: 48px;
    }

    /*
    * --------- Form Fields ---------
    */

    .form {
      display: -webkit-box;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      position: relative;

      /*
      * --------- Select Input Styling ---------
      */

      &.options {
        display: flex;
        flex-direction: row;
        gap: 40px;
        margin-bottom: 40px;

        div {
          width: 100%;
          position: relative;
        }

        //Overriding the default arrow cross browsers
        select {
          -moz-appearance: none; /* Firefox */
          -webkit-appearance: none; /* Safari and Chrome */
          appearance: none;
        }

        //Select Arrow styling based on select's state

        select ~ .arrow {
          position: absolute;
          height: 30px;
          right: 0;
          transform: translate(-50%, -50%);
          top: 50%;

          transition: transform 200ms ease-in-out;
          pointer-events: none;
        }

        select:focus ~ .arrow {
          transform: rotate(180deg) translate(50%, 50%);
          color: $buttonColor;
        }
      }

      /*
      * --------- Default Styling Input & Textarea ---------
      */

      &-input,
      &-textarea {
        outline: none;
        border: 1px solid $secondaryColor;
        margin-bottom: 8px;
        width: 100%;
        height: 56px;
        border-radius: 28px;
        padding-left: 40px;
        font-size: 22px;
        font-weight: 500;
        opacity: 0.8;

        @include transition-ease;
      }

      &-input:hover,
      &-textarea:hover {
        border: 1px solid $buttonColor;
      }

      &-input:focus {
        border: 2px solid $buttonColor;
      }

      &-input:focus:required:invalid {
        border: 1px solid $formInvalid;
      }

      &-label {
        position: absolute;
        top: 0;
        left: 0;
        padding-left: 40px;
        padding-top: 15px;
        color: $secondaryColor;
        font-size: 18px;
        font-weight: 500;
        letter-spacing: 1;
        transition: all 300ms ease-in;
        pointer-events: none;
      }

      &-input:focus + .form-label,
      &-textarea:focus + .form-label,
      &-input:valid + .form-label,
      &-textarea:valid + .form-label {
        transform: translateY(-8px) translateX(35px);
        font-size: 12px;
        background-color: $formColor;
        padding-top: 0;
        padding-left: 10px;
        padding-right: 15px;
        color: $buttonColor;
      }

      .form-input:not(:focus).form-input:valid + .form-label,
      .form-textarea:not(:focus).form-textarea:valid + .form-label {
        color: $secondaryColor;
      }

      &-input:focus:required:invalid + .form-label,
      &-textarea:focus:required:invalid + .form-label {
        color: $formInvalid;
      }

      &-textarea {
        outline: none;
        width: 100%;
        height: 136px;
        resize: none;
        padding-top: 19px;
      }

      &-error {
        color: $textSecondary;
        font-size: 14px;
        margin-right: 20px;
        white-space: pre;
        margin-bottom: 16px;
        display: block;
        height: 16px;
      }

      // ✔ ✔ ✔

      &-checkmark {
        position: absolute;
        top: 0;
        right: 0;
        margin-top: 13px;
        margin-right: 15px;
        width: 30px;
        height: 30px;
      }

      // Checkbox Buttons

      .checkboxtext {
        height: 19px;
        opacity: 0.8;
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 21px;
      }

      &-checkbox {
        margin-bottom: 50px;

        label {
          opacity: 0.8;
        }

        .container {
          position: relative;
          padding-left: 40px;
          margin-bottom: 12px;
          cursor: pointer;
          font-size: 20px;
          margin-right: 20px;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;

          .checkmark:after {
            z-index: 200;
            content: '';
            position: absolute;
            display: none;
          }

          input:checked ~ .checkmark:after {
            display: block;
          }

          input:checked ~ .checkmark {
            border: 1px solid $buttonColor;
          }

          .checkmark:after {
            left: 7px;
            top: 3px;
            width: 5px;
            height: 10px;
            border: 2px solid $buttonColor;
            border-width: 0 3px 3px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
          }

          input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
          }

          .checkmark {
            position: absolute;
            top: 0;
            left: 0;
            height: 24px;
            width: 24px;
            border: 1px solid $secondaryColor;
            border-radius: 6px;
          }
        }
      }

      // Submit Button

      &-btnwrapper {
        width: 100%;
        display: flex;
        justify-content: center;

        button {
          text-align: center;
          padding: 17px 126px;
          background-color: $buttonColor;
          color: $primaryColor;
          font-weight: 800;
          font-size: 20px;
          outline: none;
          border: none;
          box-shadow: 0px 3px 6px #00000066;
          border-radius: 42px;
        }

        button:hover {
          background-color: $buttonColorHovered;
        }
      }
    }
  }
}
