@use 'sass:map';

.contact {
  width: 100%;
  display: flex;
  position: relative;
  flex-direction: column-reverse;
  overflow-x: hidden;
  /*
  * --------- Map & Map Pointer ---------
  */
  &-map {
    height: 300px;
    width: 100%;

    //Arbitrarily decreasing image brightness to fit original design
    //Note: cannot use blend mode with linear-background since instructions state the html tag for the map must be an image
    filter: brightness(80%);
  }

  &-badge {
    position: absolute;
    left: 50%;
    bottom: 12%;
    width: 32px;
    height: 32px;
    background-color: $accentColor;
    z-index: 9999;
    border-radius: 300px;
    left: 50%;
    bottom: 12%;
    transform: scale(1) translate(-50%, 50%); //Centering the badge horizontally
    overflow: hidden;
    @include transition-ease;
    transition-delay: 100ms;

    .information-container {
      opacity: 0;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      transition: all 300ms ease-in-out;
      transform: scale(1);

      &-item {
        color: $secondaryColor;
        font-size: 19px;
      }
    }
    .information-container span {
      margin-bottom: 16px;
    }

    // Social Icons

    .social {
      display: flex;
      gap: 30px;
      margin-top: 32px;
      &-icon {
        color: $secondaryColor;
        height: 32px;
        width: 32px;
        cursor: pointer;
        transform: translateY(100vh);

        @include transition-ease;
      }
    }
  }

  &-badge:hover {
    width: 600px;
    height: 600px;
    transform: translate(-50%, 80%);

    .information-container {
      margin-top: 68px;
      opacity: 1;

      &-item {
        transition: all 300ms ease-in-out;
        transition-delay: 0;
      }

      .social {
        &-icon {
          transform: translateY(0);
          transition-delay: 300ms;
        }

        &-icon:hover {
          color: $buttonColor;
        }
      }
    }
  }

  /*
  * --------- Form Container ---------
  */

  &-formwrapper {
    background: $formColor;
    width: 100%;
    display: flex;
    padding-left: 24px;
    padding-right: 24px;
    flex-direction: column;
    color: $secondaryColor;

    h2 {
      font-weight: map.get($fontWeight, 'extraBold');
      font-size: 32px;
      margin-bottom: 32px;
      margin-top: 32px;
    }

    p {
      font-size: 16px;
      margin-bottom: 32px;
      font-weight: map.get($fontWeight, 'regular');
    }

    /*
    * --------- Form Fields ---------
    */

    .form {
      display: -webkit-box;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      position: relative;

      /*
      * --------- Select Input Styling ---------
      */

      &.options {
        display: flex;
        flex-direction: column;
        gap: 30px;
        margin-bottom: 36px;

        div {
          width: 100%;
          position: relative;
        }

        //Overriding the default arrow cross browsers
        select {
          -moz-appearance: none; /* Firefox */
          -webkit-appearance: none; /* Safari and Chrome */
          appearance: none;
        }

        //Select Arrow styling based on select's state

        select ~ .arrow {
          position: absolute;
          height: 30px;
          right: 0;
          transform: translate(-50%, -50%);
          top: 50%;

          transition: transform 200ms ease-in-out;
          pointer-events: none;
        }

        select:focus ~ .arrow {
          transform: rotate(180deg) translate(50%, 50%);
          color: $buttonColor;
        }
      }

      /*
      * --------- Default Styling Input & Textarea ---------
      */

      &-input,
      &-textarea {
        outline: none;
        border: 1px solid $secondaryColor;
        margin-bottom: 4px;
        width: 100%;
        height: 40px;
        border-radius: 28px;
        padding-left: 26px;
        font-size: 16px;
        font-weight: map.get($fontWeight, 'medium');
        opacity: 0.8;

        @include transition-ease;
      }

      &-input:hover,
      &-textarea:hover {
        border: 1px solid $buttonColor;
      }

      &-input:focus {
        border: 2px solid $buttonColor;
      }

      &-input:focus:required:invalid {
        border: 1px solid $formInvalid;
      }

      &-label {
        position: absolute;
        top: 0;
        left: 0;
        padding-left: 26px;
        padding-top: 9px;
        color: $secondaryColor;
        font-size: 16px;
        font-weight: map.get($fontWeight, 'medium');
        letter-spacing: 1;
        transition: all 300ms ease-in;
        pointer-events: none;
      }

      &-input:-webkit-autofill,
      &-input:-webkit-autofill:hover,
      &-input:-webkit-autofill:focus,
      &-input:-webkit-autofill:active {
        -webkit-box-shadow: 0 0 0 30px $primaryColor inset !important;
        box-shadow: 0 0 0 30px $primaryColor inset !important    ;
      }

      &-input:focus + .form-label,
      &-textarea:focus + .form-label,
      &-input:valid + .form-label,
      &-textarea:valid + .form-label {
        transform: translateY(-8px) translateX(25px);
        font-size: 12px;
        background-color: $formColor;
        padding-top: 0;
        padding-left: 5px;
        padding-right: 15px;
        color: $buttonColor;
      }

      .form-input:not(:focus).form-input:valid + .form-label,
      .form-textarea:not(:focus).form-textarea:valid + .form-label {
        color: $secondaryColor;
      }

      &-input:focus:required:invalid + .form-label,
      &-textarea:focus:required:invalid + .form-label {
        color: $formInvalid;
      }

      &-textarea {
        outline: none;
        width: 100%;
        height: 136px;
        resize: none;
        padding-top: 19px;
      }

      &-error {
        color: $textSecondary;
        font-size: 12px;
        margin-right: 8px;
        white-space: pre;
        margin-bottom: 12px;
        display: block;
        height: 16px;
      }

      // ✔ ✔ ✔

      &-checkmark {
        position: absolute;
        top: 0;
        right: 0;
        margin-top: 12px;
        margin-right: 12px;
        width: 16px;
        height: 16px;
      }

      // Checkbox Buttons

      &-checkbox {
        margin-bottom: 36px;

        label {
          opacity: 0.8;
        }

        .container {
          position: relative;
          padding-left: 40px;
          margin-bottom: 12px;
          cursor: pointer;
          font-weight: map.get($fontWeight, 'medium');
          font-size: 16px;
          margin-right: 20px;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;

          .checkmark:after {
            z-index: 200;
            content: '';
            position: absolute;
            display: none;
          }

          input:checked ~ .checkmark:after {
            display: block;
          }

          input:checked ~ .checkmark {
            border: 1px solid $buttonColor;
          }

          .checkmark:after {
            left: 7px;
            top: 3px;
            width: 5px;
            height: 10px;
            border: 2px solid $buttonColor;
            border-width: 0 3px 3px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
          }

          input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
          }

          .checkmark {
            position: absolute;
            top: 0;
            left: 0;
            height: 24px;
            width: 24px;
            border: 1px solid $secondaryColor;
            border-radius: 6px;
          }
        }
      }

      // Submit Button

      &-btnwrapper {
        width: 100%;
        display: flex;
        justify-content: center;

        button {
          text-align: center;
          padding: 17px 126px;
          background-color: $buttonColor;
          color: $primaryColor;
          font-weight: map.get($fontWeight, 'extraBold');
          font-size: 20px;
          outline: none;
          border: none;
          box-shadow: 0px 3px 6px #00000066;
          border-radius: 42px;
          margin-bottom: 40px;
        }

        button:hover {
          background-color: $buttonColorHovered;
        }
      }
    }

    //Please select one of the following p tag

    .checkboxtext {
      opacity: 0.8;
      margin-bottom: 20px;
      font-size: 21px;
      font-weight: map.get($fontWeight, 'regular');
    }
  }
}

@include media-lg {
  .contact {
    flex-direction: row;

    &-map {
      width: 857px;
      height: 1032px;
      object-fit: cover;
      object-position: right;
    }

    &-badge {
      left: 412px;
      top: 512px;
      bottom: 0;
      transform: scale(1);

      .information-container {
        &-item {
          font-size: 22px;
        }
      }
    }

    &-badge:hover {
      width: 356px;
      height: 356px;
      transform: translate(-50%, -50%);

      .information-container {
        margin-top: 112px;
      }
    }

    &-formwrapper {
      justify-content: center;
      padding-left: 240px;
      padding-right: 240px;

      h2 {
        margin-bottom: 32px;
        margin-top: 0px;
      }

      p {
        font-size: 18px;
        margin-bottom: 48px;
      }

      .form {
        &.options {
          flex-direction: row;
          gap: 40px;
          margin-bottom: 40px;

          div {
          }
        }
        select {
        }

        select ~ .arrow {
        }

        select:focus ~ .arrow {
        }

        &-input,
        &-textarea {
          height: 56px;
          padding-left: 40px;
          margin-bottom: 8px;
          font-size: 22px;
        }

        &-label {
          padding-left: 40px;
          padding-top: 15px;
          font-size: 18px;
        }

        &-input:focus + .form-label,
        &-textarea:focus + .form-label,
        &-input:valid + .form-label,
        &-textarea:valid + .form-label {
          transform: translateY(-8px) translateX(35px);
          padding-left: 10px;
        }

        &-textarea {
          outline: none;
          width: 100%;
          height: 136px;
          resize: none;
          padding-top: 19px;
        }

        &-error {
          font-size: 14px;
          margin-right: 20px;
          margin-bottom: 16px;
        }

        &-checkmark {
          margin-top: 13px;
          margin-right: 15px;
          width: 30px;
          height: 30px;
        }

        &-checkbox {
          margin-bottom: 50px;

          .container {
            font-size: 20px;
          }
        }

        &-btnwrapper {
          button {
            margin-bottom: 0px;
            padding: 13px 114px;
          }
        }
      }
    }
    .checkboxtext {
      margin-bottom: 21px;
      opacity: 0.8;
      font-size: 16px;
      font-weight: map.get($fontWeight, 'regular');
    }
  }
}
