@use 'sass:map';

.hero {
  height: 70vh;
  width: 100vw;
  background: linear-gradient(180deg, #fefefe00 40%, #000000 100%) 0% 0%
    no-repeat padding-box;
  mix-blend-mode: multiply;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  position: relative;

  .hero-image {
    background-size: cover;
    background-position: left;
    mix-blend-mode: multiply;
    width: 100vw;
    height: 100vh;
  }

  /*
  * --------- Hero Text Layout ---------
  */

  &-modal {
    position: absolute;
    top: 30%;
    left: 24px;
    width: 85%;

    &-title {
      color: $primaryColor;
      position: relative;
      font-weight: map.get($fontWeight, 'extraBold');
      font-size: 40px;
    }

    &-title::before {
      content: '';
      position: absolute;
      bottom: -30%;
      height: 10px;
      width: 48px;
      background-color: $accentColor;
    }

    &-content {
      margin-top: 48px;
      font-size: 18px;
      font-weight: map.get($fontWeight, 'extraBold');
    }
  }

  /*
  * --------- SideNav (+BUTTONS) ---------
  */

  &-slidenav {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 20px;

    &-item {
      height: 12px;
      width: 12px;
      background-color: $buttonIdle;
      border-radius: 100%;
      cursor: pointer;

      @include transition-ease;

      &.active {
        background-color: $primaryColor;
      }
    }
  }
}

@include media-lg {
  .hero {
    height: 100vh;
    background-position: center;
    background-size: cover;

    .hero-image {
      background-size: cover;
      background-position: left 50% top 0%;
      mix-blend-mode: multiply;
      width: 100vw;
      height: 100vh;
    }

    &-modal {
      top: 45%;
      //Relative size -- Used later to configure section
      left: 12%;
      position: absolute;
      color: $primaryColor;
      text-align: left;
      width: 32%;

      &-title {
        font-size: 6rem;
        min-height: 120px;
      }

      &-title::before {
        bottom: -10%;
        height: 15px;
        width: 96px;
      }

      &-content {
        margin-top: 4rem;
        font-size: 2rem;
        font-weight: map.get($fontWeight, 'extraBold');
      }
    }

    &-slidenav {
      &-item {
        height: 16px;
        width: 16px;
      }
    }
  }
}
