.hero {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(180deg, #fefefe00 40%, #000000 100%) 0% 0%
    no-repeat padding-box;
  mix-blend-mode: multiply;
  background-position: center;
  background-size: cover;
  overflow: hidden;

  /*
  * --------- Hero Text Layout ---------
  */

  .hero-image {
    background-size: cover;
    background-position: left 50% top 0%;
    mix-blend-mode: multiply;
    width: 100vw;
    height: 130vh;
  }

  /*
  * --------- Hero Text Layout ---------
  */

  &-modal {
    top: 45%;
    //Relative size -- Used later to configure section
    left: 12%;
    max-width: 32%;
    position: absolute;
    color: $primaryColor;
    text-align: left;

    &-title {
      font-size: 6rem;
      letter-spacing: 0px;
      color: #ffffff;
      position: relative;
      min-height: 120px;
      font-weight: 800;
    }

    &-title::before {
      content: '';
      position: absolute;
      bottom: -10%;
      height: 15px;
      width: 96px;
      background-color: $accentColor;
    }

    &-content {
      margin-top: 4rem;
      font-size: 2rem;
      font-weight: 800;
    }
  }

  /*
  * --------- SideNav (+BUTTONS) ---------
  */

  &-slidenav {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 20px;

    &-item {
      height: 16px;
      width: 16px;
      background-color: $buttonIdle;
      border-radius: 100%;
      cursor: pointer;

      @include transition-ease;

      &.active {
        background-color: $primaryColor;
      }
    }
  }
}
