.nav {
  z-index: 9999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 56px;
  background: $secondaryColor;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 26px;
  padding-right: 36px;
  overflow: hidden;

  @include transition-ease;

  h1 {
    opacity: 0;
    text-transform: uppercase;

    @include transition-ease;
  }

  .burger {
    display: block;
    height: 50px;
    width: 45px;
    cursor: pointer;
  }

  &-logo {
    height: 40px;
    width: 40px;
    cursor: pointer;

    @include transition-ease;
  }

  &-menu {
    display: none;
    // display: flex;
    // flex-flow: row wrap;
    // align-items: center;
    // justify-content: center;
    // list-style: none;
    // gap: 3rem;

    // &-link {
    //   display: inline-block;
    //   font-size: 18px;
    //   font-weight: 800;
    //   letter-spacing: 0px;
    //   position: relative;
    //   cursor: pointer;

    //   &.active {
    //     color: $accentColor;
    //   }

    //   &.active::after {
    //     content: '';
    //     left: 50%;
    //     transform: translateX(-50%);
    //     bottom: -90%;
    //     background: $accentColor;
    //     width: 120%;
    //     height: 10px;
    //     position: absolute;
    //   }
    // }
  }

  &-localization {
    display: none;
  }

  //Handling The Menu opening state

  &.open {
    h1 {
      display: block;
      font-size: 38px;
      font-weight: 800;
      opacity: 1;
    }

    .nav-logo {
      opacity: 0;
    }
  }
}
