@import 'config', 'menu', 'hero', 'section', 'contact', 'footer',
  'responsiveMenu';

/* --- CSS soft reset --- */

html {
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $primaryColor;
  color: $textMain;
  height: 100vh;
  width: 100vw;
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}
